<thead>
    <tr>
        <th onclick="sortTableLetter(0)" class="sortTable table-address">손님전화</th>
        <th onclick="sortTableLetter(1)" class="sortTable table-updated">확인일</th>
        <th onclick="sortTableNumber(2)" class="sortTable table-price">매매가</th>
        <th onclick="sortTableNumber(3)" class="sortTable table-room">방</th>
        <th onclick="sortTableNumber(4)" class="sortTable table-area_m2">전용면적</th>
        <th onclick="sortTableLetter(5)" class="sortTable table-boolean">주차</th>
        <th onclick="sortTableLetter(6)" class="sortTable table-boolean">승강기</th>
        <th onclick="sortTableLetter(7)" class="sortTable table-boolean">대출</th>
        <th onclick="sortTableLetter(8)" class="sortTable table-boolean table-not_finished">진행손님</th>
    </tr>
</thead>