<thead>
    <tr>
        <th onclick="sortTableLetter(0)" class="sortTable table-address">주소</th>
        <th onclick="sortTableLetter(1)" class="sortTable table-updated">확인일</th>
        <th onclick="sortTableNumber(2)" class="sortTable table-deposit">매매가</th>
        <th onclick="sortTableNumber(3)" class="sortTable table-deposit">보증금</th> 
        <th onclick="sortTableNumber(4)" class="sortTable table-month_fee">월세</th>        
        <th onclick="sortTableNumber(5)" class="sortTable table-room">방</th>
        <th onclick="sortTableLetter(6)" class="sortTable table-birth">준공</th>       
        <th onclick="sortTableNumber(7)" class="sortTable table-area_m2">전용면적</th>
        <th onclick="sortTableNumber(8)" class="sortTable table-area_m2">공급면적</th><th onclick="sortTableLetter(9)" class="sortTable table-boolean table-empty">공실</th>
        <th onclick="sortTableLetter(10)" class="sortTable table-boolean table-not_finished">진행</th>
        <th class="table-phone table-owner">집주인</th>
        <th class="table-phone table-tenant">세입자</th>
    </tr>
</thead>