{% extends 'partials/bnc.html' %}
{% block content %}
<div class="search-box">
    <form class="search-form" method="get" action="{% url 'customers:building-dealing-customer-search' %}">
        {% include 'customers/partials/form_inside.html' %}
    </form>
</div>
<div class="regist"><div></div><div class="regist-a"><a href="{% url 'customers:building-dealing-customer-creating' %}">손님 등록</a></div></div>

<div class="container">
    {% include "partials/unit_description.html" %}
    <table id="myTable">    
        {% include "./list_thead.html" %}
        <tbody>
        {% for list in lists %} 
            {% if user.pk == list.realtor.pk %}
                {% if list.not_finished %}
                    {% include "./list_tbody_tr.html" %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}