{% url 'books:apartment-dealing-list' as url_1 %}
{% url 'books:apartment-dealing-search' as url_2 %}
{% url 'books:room-dealing-list' as url_3 %}
{% url 'books:room-dealing-search' as url_4 %}
{% url 'books:officetel-dealing-list' as url_5 %}
{% url 'books:officetel-dealing-search' as url_6 %}
{% url 'books:store-dealing-list' as url_7 %}
{% url 'books:store-dealing-search' as url_8 %}
{% url 'books:building-dealing-list' as url_9 %}
{% url 'books:building-dealing-search' as url_10 %}
{% url 'books:apartment-lease-list' as url_11 %}
{% url 'books:apartment-lease-search' as url_12 %}
{% url 'books:room-lease-list' as url_13 %}
{% url 'books:room-lease-search' as url_14 %}
{% url 'books:officetel-lease-list' as url_15 %}
{% url 'books:officetel-lease-search' as url_16 %}
{% url 'books:store-lease-list' as url_17 %}
{% url 'books:store-lease-search' as url_18 %}
<div class="button-flex">
    <div class="search-box2">
        <div class="search-part">
            <div class="search-part-one">
                <div class="search-text-bound-top"><span class="search-text">|| 주소</span><input value="{{address__contains}}" id='address' name='address' class="search-input-height search-input-address" /></div>              
                {% if request.path == url_1 or request.path == url_2 or request.path == url_3 or request.path == url_4 or request.path == url_5 or request.path == url_6 or request.path == url_7 or request.path == url_8 or request.path == url_9 or request.path == url_10 %}
                <div class="search-text-bound-top"><span class="search-text">|| 매매가</span><input value="{% if price__lte %}{{price__lte}}{% else %}999999{% endif %}" onfocus="this.value=''" type='number' id='price' name='price' class="search-input-height search-input-price" /><div class="search-text">만원 이하</div></div>
                {% else %}
                <div class="search-text-bound-top"><span class="search-text">|| 보증금</span><input value="{% if deposit__lte %}{{deposit__lte}}{% else %}99999{% endif %}" onfocus="this.value=''" type='number' id='deposit' name='deposit' class="search-input-height search-input-price" /><div class="search-text">만원 이하</div></div>
                <div class="search-text-bound-top"><span class="search-text">|| 월세</span><input value="{% if month_fee__lte %}{{month_fee__lte}}{% else %}9999{% endif %}" onfocus="this.value=''" type='number' id='month_fee' name='month_fee'  class="search-input-height search-input-price" /><div class="search-text">만원 이하</div></div>
                {% endif %}
            </div>
            <div class="search-part-one">
                <div class="search-text-bound-top"><span class="search-text">|| 전용면적</span><input value="{% if area_m2__gte %}{{area_m2__gte}}{% else %}0{% endif %}" onfocus="this.value=''" type='number' id='area_m2' name='area_m2'  class="search-input-height search-input" /><div class="search-text">㎡ 이상</div></div>               
                {% if request.path == url_1 or request.path == url_2 or request.path == url_3 or request.path == url_4 or request.path == url_5 or request.path == url_6 or request.path == url_11 or request.path == url_12 or request.path == url_13 or request.path == url_14 or request.path == url_15 or request.path == url_16 %}
                <div class="search-text-bound-top"><span class="search-text">|| 방 수</span><input value="{% if room__gte %}{{room__gte}}{% else %}0{% endif %}" type='number' id='room' name='room'  class="search-input-height search-input" /></div>                
                {% endif %}
                {% if request.path == url_9 or request.path == url_10 %}
                <div class="search-text-bound-top"><div class="search-text">|| 대지면적</div><input value="{% if land_m2__gte %}{{land_m2__gte}}{% else %}0{% endif %}" onfocus="this.value=''" type='number' id='land_m2' name='land_m2' class="search-input-height search-input" /><div class="search-text">㎡ 이상</div></div>
                {% endif %}
                <div class="search-text-bound-top"><span class="search-text">|| 특징</span><input value="{{description__contains}}" id='description' name='description' class="search-input-height search-input-address" /></div>
            </div>
        </div>
        <div class="search-part-two">
            <div class="search-part">
                <div class="search-text-bound-bottom"><input {% if parking %}checked{% endif %} type='checkbox' id='parking' name='parking' /><label for='parking'><span class="search-text">주차</span></label></div>
                <div class="search-text-bound-bottom"><input {% if elevator %}checked{% endif %} type='checkbox' id='elevator' name='elevator' /><label for='elevator'><span class="search-text">승강기</span></label></div>
                <div class="search-text-bound-bottom"><input {% if loan %}checked{% endif %} type='checkbox' id='loan' name='loan' /><label for='loan'><span class="search-text">대출</span></label></div>
                {% if not request.path == url_9 and not request.path == url_10 %}
                <div class="search-text-bound-bottom"><input {% if empty %}checked{% endif %} type='checkbox' id='empty' name='empty' /><label for='empty'><span class="search-text">공실</span></label></div>
                {% endif %}
                {% if request.path == url_1 or request.path == url_3 or request.path == url_5 or request.path == url_7 or request.path == url_9 or request.path == url_11 or request.path == url_13 or request.path == url_15 or request.path == url_17 %}
                <div class="search-text-bound-bottom"><input checked type='checkbox' id='not_finished' name='not_finished' /><label for='not_finished'><span class="search-text">진행매물</span></label></div>
                {% else %}
                <div class="search-text-bound-bottom"><input {% if not_finished %}checked{% endif %} type='checkbox' id='not_finished' name='not_finished' /><label for='not_finished'><span class="search-text">진행매물</span></label></div>
                {% endif %}
            </div>
            <div class="search-part">
                <div class="search-text-bound-bottom"><input {% if naver %}checked{% endif %} type='checkbox' id='naver' name='naver' /><label for='naver'><span class="search-text">Naver</span></label></div>
                <div class="search-text-bound-bottom"><input {% if dabang %}checked{% endif %} type='checkbox' id='dabang' name='dabang' /><label for='dabang'><span class="search-text">다방</span></label></div>
                <div class="search-text-bound-bottom"><input {% if zicbang %}checked{% endif %} type='checkbox' id='zicbang' name='zicbang' /><label for='zicbang'><span class="search-text">직방</span></label></div>
                <div class="search-text-bound-bottom"><input {% if peterpan %}checked{% endif %} type='checkbox' id='peterpan' name='peterpan' /><label for='peterpan'><span class="search-text">피터팬</span></label></div>
            </div>
        </div>
    </div>
    <div><button class="search-button"><i class="fas fa-search"></i>매물 검색</button></div>
</div>