<tr>
    <td><a href="{% url 'books:building-dealing-detail' list.pk %}">{{list.address}}</a></td>
    <td class="table-updated">{{list.updated|date:"y/m/d"}}</td>
    <td class="toggle_money_area">{{list.price}}</td>
    <td class="toggle_money_area">{{list.deposit}}</td>
    <td class="toggle_money_area">{{list.month_fee}}</td>
    <td class="table-birth">{{list.birth|date:"Y년"}}</td>
    <td class="table-area_m2">{{list.floor_top}}</td>
    <td class="table-area_m2">{{list.land_type}}</td>
    <td class="table-area_m2 toggle_area">{{list.land_m2}}</td>
    <td class="table-elevator">{% if list.elevator %}O{% else %}X{% endif %}</td>
    <td class="table-loan">{% if list.loan %}O{% else %}X{% endif %}</td>
    <td class="table-not_finished">{% if list.not_finished %}O{% else %}X{% endif %}</td>
    <td class="table-owner">{{list.owner_phone}}</td>
</tr>