<div>계약일로부터 30일 이내에 관할 주민센터에 전월세거래신고를 하셔야 합니다.</div>
<div>이 기간안에 신고를 하지 않으면 100만원 이하의 과태료가 부과될 수 있습니다.</div>
<div>홈페이지를 방문하여 전월세 거래신고 여부를 체크하시면 해당 매물은 알림 메일을 더 보내지 않습니다.</div>
<h4>주의사항: 주택임대사업자 등록을 하신 분들 주의!</h4>
<div>주택임대사업자 분들은 계약일로부터 3개월 내에 렌트홈 또는 관할 구청에 계약변경신고를 하는 것으로 전월세신고를 대신합니다.</div>
<div>묵시적 계약 갱신의 경우도 묵시적 갱신이 된 후부터(계약서상의 만기일) 3개월 이내에 신고를 하셔야 합니다.</div>
<div>계약변경신고를 하지 않으면(묵시적 갱신의 경우도 포함) 과태료가 부과되니 기간에 주의하셔서 신고하셔야 합니다.</div>
<br>
<table>
    <thead>
        <tr>
            <th>계약 임대매물</th>
            <th>: 거래신고까지 남은 기한</th>
        </tr>
    </thead>
    <tbody>
        
        {% for key, value in lease_report_dict.items %}
        <tr>
            <td>{{key}}</td>
            <td>: {{value}}일</td>
        </tr>
        {% endfor %}
    </tbody>
</table>