{% include 'partials/messages.html' %}
<div class="social-login-app-div">
    <a href="{% url 'api:kakao-login' %}" class="social-login-app kakao-login">
        <span class="kakao-logo"><i class="fas fa-comment"></i></span><span class="kakao-letter">카카오</span><span></span>
    </a>
    <a href="{% url 'api:naver-login' %}" class="social-login-app naver-login">
        <span class="naver-logo">N</span><span class="naver-letter">네이버</span><span></span>
    </a>
    <a href="{% url 'api:github-login' %}" class="social-login-app github-login">
        <span class="github-logo"><i class="fab fa-github"></i></span><span class="github-letter">깃허브</span><span></span>
    </a>
</div>
<script>
    const find = document.getElementsByClassName("kakao-letter")[0].innerHTML;
console.log(find);
</script>