<tr>
    <td><a href="{% url 'customers:shop-dealing-customer-detail' list.pk %}">{{list.guest_phone}}</a></td>
    <td class="table-updated">{{list.updated|date:"y/m/d"}}</td>
    <td class="toggle_money_area">{{list.price}}</td>
    <td class="table-area_m2 toggle_area">{{list.area_m2}}</td>
    <td class="table-parking">{% if list.parking %}O{% else %}X{% endif %}</td>
    <td class="table-elevator">{% if list.elevator %}O{% else %}X{% endif %}</td>
    <td class="table-not_finished">{% if list.not_finished %}O{% else %}X{% endif %}</td>
    <!-- <td>
        <div>
            <a href="{% url 'customers:shop-dealing-customer-detail' list.pk %}"></a>
        </div>
    </td> -->
</tr>